{% extends 'base.html' %}

{% block content %}


<main class = "container py-5">
    <section class = "card card-body">
        <h1 class = "display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, iste. Voluptatibus dolorem id minus corporis fugiat earum, nostrum odio consequuntur perferendis nesciunt exercitationem voluptatem natus distinctio reprehenderit eos eum repudiandae? Suscipit, ratione. Numquam reprehenderit praesentium iure facilis illo maiores doloribus ullam ad et architecto! Voluptas cum itaque reiciendis velit! Corrupti labore, assumenda explicabo eos, eaque, est placeat sunt at ex mollitia saepe illo doloribus animi consectetur soluta natus repellat totam recusandae dolorem. Quisquam totam cupiditate laboriosam hic nostrum sed, placeat eligendi numquam inventore eaque eius officia repellat eveniet rerum reiciendis. Placeat reiciendis earum praesentium magnam dolorem, perferendis unde quibusdam omnis.</p>
    </section>

    <div class = "text-center">
        <a  class = "btn btn-secondary" href = "/signin/">
            Signin
        </a>
    
        <a class = "btn btn-dark" href = "/signup/">
            Signup
        </a>
    </div>

</main>


{% endblock %}